/* Contact Section CSS */
.contact-section {
	min-height: 94svh !important;
	padding-bottom: 0 !important;
}

.contact-section h1 {
	color: white;
}

.form-container {
	display: flex;
	justify-content: center;
	align-items: center;
}

form {
	background: white;
	width: 640px;
	max-width: 95%;
	box-shadow: var(--box-shadow);
	border-radius: 4px;
	padding: 2rem 1.5rem;
}

label {
	display: block;
	font-size: 18px;
	color: var(--eerie-black);
}

input,
textarea {
	font-size: 17px;
	color: var(--eerie-black);
	background-color: white;
	border-radius: 4px;
	border: 2px solid #97a8ab;
}

.form-details {
	display: flex;
	justify-content: space-between;
	gap: 1.5rem;
}

.form-details input {
	padding: 16px;
	height: 44px;
}

.item {
	display: flex;
	flex-direction: column;
	width: 48%;
	gap: 0.5rem;
	margin-bottom: 1.25rem;
}

.form-message .item {
	width: auto;
	margin-bottom: 1.5rem;
}

.form-message textarea {
	padding: 12px 16px;
	height: 200px;
	resize: none;
}

input:focus,
textarea:focus {
	outline: 1.5px solid var(--eerie-black);
}

.form-action button {
	cursor: pointer;
	height: 44px;
	padding: 0 20px;
	transition: all 0.3s ease;
}

.submit {
	background-color: var(--eerie-black);
	color: white;
	margin-right: 0.75rem;
}

.submit:hover {
	background-color: white;
	color: var(--eerie-black);
}

.reset:hover {
	background-color: var(--eerie-black);
	color: white;
}

@media (max-width: 730px) {
	.contact-section {
		padding-bottom: 2rem !important;
	}

	form {
		width: auto;
	}

	.form-details {
		flex-direction: column;
		gap: 0;
	}

	.form-message textarea {
		height: 10rem;
	}

	.item {
		width: 100%;
	}

	.form-action {
		display: flex;
		flex-direction: column;
		gap: 1rem;
	}

	.submit {
		margin: 0;
	}
}
