.navbar {
	background: var(--eerie-black);
	box-shadow: var(--box-shadow);
	position: fixed;
	width: 100%;
	top: 0;
	z-index: 10;
}

.nav-container {
	display: flex;
	justify-content: space-around;
	align-items: center;
	height: 70px !important;
}

.navbar a {
	color: white;
}

.nav-logo {
	font-size: 2rem;
	font-weight: 600;
	letter-spacing: 5px;
	text-transform: uppercase;
}

.nav-links {
	display: flex;
	gap: 50px;
	transition: all 0.2s ease;
}

.nav-link {
	font-size: 1.2rem;
	cursor: pointer;
	border-bottom: 2px solid transparent;
}

.nav-link:hover {
	opacity: 0.8;
	border-bottom-color: white;
	transition: all 0.3s ease;
}

.hamburger {
	display: none;
	cursor: pointer;
}

.bar {
	display: block;
	width: 25px;
	height: 3px;
	margin: 5px auto;
	background-color: white;
	transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
}

@media (max-width: 900px) {
	.nav-links {
		gap: 25px;
	}
}

@media (max-width: 775px) {
	.nav-container {
		justify-content: space-between;
	}

	.nav-logo {
		margin-left: 25px;
		letter-spacing: 3px;
	}

	.nav-links {
		top: -1000px;
		width: 100%;
		flex-direction: column;
		align-items: center;
		position: absolute;
		background: var(--eerie-black);
		font-size: 1.6rem;
		transition: all 0.5s ease;
	}

	.nav-links.is-active {
		top: 90%;
		padding: 20px 0;
	}

	.nav-link:hover {
		border-bottom-color: transparent;
	}

	.hamburger {
		display: block;
		margin-right: 25px;
	}

	.hamburger.is-active .bar:nth-child(1) {
		transform: translateY(8px) rotate(45deg);
	}

	.hamburger.is-active .bar:nth-child(2) {
		opacity: 0;
	}

	.hamburger.is-active .bar:nth-child(3) {
		transform: translateY(-8px) rotate(-45deg);
	}
}

@media (max-width: 505px) {
	.nav-logo {
		font-size: 1.5rem;
	}
}
