@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  /* === COLORS === */
  --color-*: initial;

  --primary: oklch(0.7474 0.1313 256.66); /* #75AFFF */
  --neutral: oklch(0.1966 0.004 286.03); /* #151517 */

  --primary-t0: oklch(0 0 0); /* #000000 */
  --primary-t10: oklch(0.2255 0.0677 252.1); /* #001C3A */
  --primary-t20: oklch(0.3118 0.0936 252.11); /* #00315E */
  --primary-t30: oklch(0.3972 0.1207 252.52); /* #004785 */
  --primary-t40: oklch(0.484 0.1385 253.25); /* #145FAA */
  --primary-t50: oklch(0.5693 0.1359 254.94); /* #3978C5 */
  --primary-t60: oklch(0.6548 0.1326 255.98); /* #5792E0 */
  --primary-t70: oklch(0.7412 0.1315 256.67); /* #73ADFD */
  --primary-t80: oklch(0.827 0.0865 259.3); /* #A5C8FF */
  --primary-t90: oklch(0.9133 0.0416 263.01); /* #D4E3FF */
  --primary-t95: oklch(0.9577 0.0199 267.29); /* #EBF1FF */
  --primary-t100: oklch(1 0 0); /* #FFFFFF */

  --neutral-t0: oklch(0 0 0); /* #000000 */
  --neutral-t5: oklch(0.1595 0.0021 286.16); /* #0D0D0E */
  --neutral-t10: oklch(0.223 0.0038 286.08); /* #1B1B1D */
  --neutral-t20: oklch(0.3099 0.0035 286.19); /* #303032 */
  --neutral-t30: oklch(0.3962 0.0051 301.28); /* #474649 */
  --neutral-t40: oklch(0.4835 0.0034 308.38); /* #5F5E60 */
  --neutral-t50: oklch(0.5686 0.0051 314.78); /* #787679 */
  --neutral-t60: oklch(0.6557 0.0037 325.62); /* #929092 */
  --neutral-t70: oklch(0.7414 0.0054 325.63); /* #ADAAAD */
  --neutral-t80: oklch(0.8287 0.0035 325.61); /* #C8C6C8 */
  --neutral-t90: oklch(0.9137 0.0059 333.99); /* #E5E1E4 */
  --neutral-t95: oklch(0.958 0.0041 337.35); /* #F3F0F2 */
  --neutral-t100: oklch(1 0 0); /* #FFFFFF */

  /* Semantic tokens */
  --color-surface-muted: var(--neutral-t100);
  --color-surface: var(--neutral-t95);
  --color-surface-elevated: var(--neutral-t100);

  --color-text: var(--neutral-t10);
  --color-text-secondary: var(--neutral-t40);
  --color-text-inverse: var(--neutral-t100);

  --color-primary: var(--primary-t40);

  /* === TYPOGRAPHY === */
  --text-*: initial;

  /* Type scale */
  --text-sm: 1rem; /* 16px */
  --text-sm--line-height: 1.65;
  --text-base: 1.125rem; /* 18px */
  --text-base--line-height: 1.6;
  --text-lg: 1.25rem; /* 20px */
  --text-lg--line-height: 1.55;
  --text-xl: 1.25rem; /* 20px */
  --text-xl--line-height: 1.35;
  --text-2xl: 2rem; /* 32px */
  --text-2xl--line-height: 1.25;
  --text-3xl: 3.5rem; /* 56px */
  --text-3xl--line-height: 1.15;
  --text-4xl: 5rem; /* 80px */
  --text-4xl--line-height: 1.1;

  --breakpoint-2xl: initial;
}

@layer base {
  .dark {
    --color-surface-muted: var(--neutral-t5);
    --color-surface: var(--neutral);
    --color-surface-elevated: var(--neutral-t10);

    --color-text: var(--neutral-t90);
    --color-text-secondary: var(--neutral-t70);
    --color-text-inverse: var(--neutral-t10);

    --color-primary: var(--primary-t80);
  }

  :root {
    --text-4xl-sm: 2.75rem;
    --text-4xl-md: 4rem;
    --text-3xl-sm: 2rem;
    --text-2xl-sm: 1.75rem;
    --text-xl-sm: 1.125rem;
  }

  html {
    scroll-behavior: smooth;
  }

  h1 {
    @apply text-(size:--text-4xl-sm) font-semibold md:text-(size:--text-4xl-md) lg:text-4xl;
  }

  h2 {
    @apply text-(size:--text-3xl-sm) font-semibold md:text-3xl;
  }

  h3 {
    @apply text-(size:--text-2xl-sm) font-semibold md:text-2xl;
  }

  h4 {
    @apply text-(size:--text-xl-sm) font-semibold md:text-xl;
  }

  p {
    @apply text-sm md:text-base;
  }
}

@utility container {
  margin-inline: auto;
  padding-inline: 2rem;
  padding-block: 4rem;

  @media (min-width: 640px) {
    padding-inline: 2.5rem;
  }

  @media (min-width: 768px) {
    padding-inline: 3rem;
  }
}
